@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic,700italic);
/*--------------------------
RESET
---------------------------*/
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, 
time, mark, audio, video{margin:0; padding:0}
article, aside, details, figcaption, figure, footer, 
header, hgroup, menu, nav, section{display:block}

table{border-collapse:collapse; border-spacing:0}
fieldset, img{border:0}
address, caption, cite, dfn, th, var{font-style:normal; font-weight:normal}
caption, th{text-align:left}
h1, h2, h3, h4, h5, h6{font-size:100%; font-weight:normal; color:#111;}
q:before, q:after{content:''}
abbr, acronym{border:0}

/*--------------------------
GLOBAL
---------------------------*/
html { overflow-y:scroll;  }
body { background:url(../images/bg-main.jpg) #f8f8f8 repeat-x top; font-family:"Open Sans", arial, helvetica, sans-serif;}

.clearfix:after{ content:"";  display:block;  clear:both;  visibility:hidden;  line-height:0;  height:0}
.clearfix{ display:inline-block }
html[xmlns] .clearfix{ display:block}
* html .clearfix{ height:1%}
.fl{ float:left; }
.fr{ float:right; }
.icon_left{ float:left; margin-right:10px;}

a img {border: 0;}
a, a:link{ color:#ffcc00; text-decoration:none; }
a:hover{ color:#ffcc00; text-decoration:underline; }
::selection {background: rgb(255,204,0); color:#fafafa;}
::-moz-selection {background: rgb(255,204,0); color:#fafafa;}
img::selection {background: transparent;}
img::-moz-selection	{background: transparent;}

h1, h2, h3, h4, h5, h6{ margin:0px 0 15px 0; color:#111; font-family:"Open Sans", arial, helvetica, sans-serif;}
h1{ font-size:18px; line-height:22px; }
h2{ font-size:14px; line-height:18px; color:#0071ac; text-transform:uppercase; font-weight:bold;}
h3{ font-size:14px; line-height:18px; color:#111;}
h4{ font-size:13px; }
h5{ font-size:12px; }
h6{ font-size:10px; }

#nav {
	padding:5px;
	margin-top:-23px;
	width:95%;
	font-size:13px;
	text-align:center;
	color:#fff;
	clear:both;
}

p, ul, ol{ margin-bottom:20px; }
ul, ol{ margin-left:20px; }

figure, img {max-width:100%; height:auto; margin-bottom:20px;}
img.left {margin:0 20px 0 0; float:left; }
img.right {margin:0 0 0 20px; float:right;}
img.center {  display: block; margin-left: auto; margin-right: auto; }

input
{
color: #111;
background: #fbfbfb;
border: 1px solid #bbb;
}

.submit input
{
color: #111;
background: #fbfbfb;
border: 2px outset #f8f8f8;
}

textarea {
color: #111;
background: #fbfbfb;
border: 1px solid #9ecade;
resize: none; 
}

.aligncenter{ text-align:center; }
.alignleft{ text-align:left; }
.alignright{ text-align:right; }

.inside-wrap{ margin-bottom:15px; float:left; width:98%; clear:both;}
.inside-wrap-two{ margin-bottom:7px; float:left; width:98%; clear:both;}
.inside-wrap-three{ margin-bottom:7px; float:left; width:94%; clear:both;}

.inside-bottom{ margin-bottom:20px; float:left; width:100%; clear:both;}


#power-top{
	width:98%;
	height:30px;
	clear:both;
}

#power{
	margin-bottom:12px;
	padding:25px 10px 5px 10px;
	width:97%;
	font-size:12px;
	color:#111;
	text-align:justify;
	text-justify:inter-word;
	float:left;
	border: 2px solid #0071ac;
	background: #fff url(../images/watermark-pattern.png);
	clear:both;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#power .title{
	font-size:13px;
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#0071ac;
}

#power .header{
	font-size:18px;
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#0071ac;
}

#power .number{
	font-size:20px;
	font-weight:normal;
	color:#f00000;
}

#power .blue{
	color:#0071ac;
	font-weight:600;
	font-size:13px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

#power .amount{
	color:#000;
	font-weight:600;
	font-size:13px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

#power input
{
color: #111;
background: #fbfbfb;
border: 1px solid #cbe1eb;
}

#power .submit input
{
color: #111;
background: #fbfbfb;
border: 2px outset #f8f8f8;
}


#power .first{  width:30.5%; text-align:center; float:left; margin-left:3.5%; margin-bottom:10px; font-size: 11px; line-height:11px;}
#power .second{  width:25.5%; text-align:center; float:left; margin-left:3.5%; margin-bottom:10px;}
#power .third{  width:34.5%; text-align:left; float:right; margin-left:3.5%; margin-bottom:10px;}
#power .fourth{  width:57.5%; text-align:left; float:left; margin-left:none; margin-top:15px; line-height:25px;}
#power .fifth{  width:42.5%; text-align:right; float:right; margin-left:none;}

#power .note{
	color:#000;
	padding:10px;
	border: 3px solid #0071ac;
	clear:both;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #fff;
}

#power .themiddle{
	color:#0071ac;
	padding-left:325px;
}

#expires{
	margin-bottom:12px;
	padding:10px;
	font-size:20px;
	font-weight:600;
	color:#f00000;
	text-align:center;
	clear:both;
}

#expires-off{
	margin-bottom:12px;
	padding:10px;
	font-size:13px;
	font-weight:600;
	color:#f00000;
	text-align:center;
	clear:both;
}



#receipt-top{
	width:98%;
	height:30px;
	clear:both;
}

#receipt{
	margin-bottom:12px;
	padding:25px 10px 5px 10px;
	width:97%;
	font-size:12px;
	color:#111;
	text-align:justify;
	text-justify:inter-word;
	float:left;
	border: 2px solid #0071ac;
	background: #f8f8f8;
	clear:both;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#receipt .title{
	font-size:13px;
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#0071ac;
}

#receipt .header{
	font-size:16px;
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#0071ac;
}

#receipt .number{
	font-size:20px;
	font-weight:normal;
	color:#f00000;
}

#receipt .blue{
	color:#0071ac;
	font-weight:600;
	font-size:13px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

#receipt .amount{
	color:#000;
	font-weight:600;
	font-size:13px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

#receipt input
{
color: #111;
background: #fbfbfb;
border: 1px solid #cbe1eb;
}

#receipt .submit input
{
color: #111;
background: #fbfbfb;
border: 2px outset #f8f8f8;
}


#receipt .first{  width:30.5%; text-align:center; float:left; margin-left:3.5%; margin-bottom:10px; font-size: 11px; line-height:11px;}
#receipt .second{  width:25.5%; text-align:center; float:left; margin-left:3.5%; margin-bottom:10px;}
#receipt .third{  width:34.5%; text-align:right; float:right; margin-left:3.5%; margin-bottom:10px;}
#receipt .fourth{  width:57.5%; text-align:left; float:left; margin-left:none; margin-top:15px; line-height:25px;}
#receipt .fifth{  width:42.5%; text-align:right; float:right; margin-left:none;}
#receipt .one-two{  width:60%; text-align:left; float:left; margin-left:none;}

#receipt .note{
	color:#000;
	padding:10px;
	border: 3px solid #0071ac;
	clear:both;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/*background: #fff;*/
}

#receipt .return{
	color:#000;
	padding:10px;
	margin-top:14px;
	border-top: 3px solid #0071ac;
	clear:both;
}


/*--------------------------
LAYOUT
---------------------------*/
#page_wrap, #footer_wrap{ max-width:960px; margin:0 auto;}
header{ width:100%; float:left; }
.intro{ width:100%; float:left; margin-bottom:30px; border-bottom:1px solid #d5d5d6; padding-bottom:20px; margin-bottom:40px;}
#container{ width:70%; float:left; margin-bottom:30px;}
#fullwidth{ width:100%; float:left; margin-bottom:30px;}
aside{ width:23.5%; float:right;}
.container-two{ width:70%; float:right; margin-bottom:40px;}
footer{ background-color:#121212; float:left; width:100%; padding:10px 0;}
#footer_container{ float:left; width:100%;}

.content{ width:46.7%; float:left;}

/*column*/
.one-half{ width:48.2%; float:left; margin-left:3.5%; margin-bottom:10px;}
.one-half-two{ width:58.2%; float:left; margin-left:3.5%; margin-bottom:10px;}
.one-half-three{ width:38.2%; float:left; margin-left:3.5%; margin-bottom:10px;}
.one-third{  width:30.5%; float:left; margin-left:3.5%; margin-bottom:10px;}
.one-fourth{ width:22%; float:left; margin-left:3.5%; margin-bottom:10px;}
.three-fourth{ width:73.7%; float:left; margin-left:3.5%; margin-bottom:10px;}
div.first{ margin-left:0;}

.dendt {margin-left:78px; font-size:10px;}

/*--------------------------
CONTENT
---------------------------*/
#page_wrap p,  #footer_wrap p{ color:#111; font-family:"Open Sans", arial, helvetica, sans-serif; font-size:12px; line-height:22px;}


#footer_container{ border-bottom:1px solid #1d1d1d; padding-bottom:30px; margin-bottom:40px;}
#footer_container h3{ color:#efefef;}
#footer_container .one-fourth ul{ margin:0;}
#footer_container .one-fourth ul li{ list-style:none; width:100%; float:left;}
#footer_container .one-fourth ul li a img{ float:left; margin:6px 20px 20px 0; border:4px solid #1d1d1d;}
#footer_container .one-fourth small{ color:#333;}

#footer_container .one-fourth ul.flickr{ float:left;}
#footer_container .one-fourth ul.flickr li{ margin:0 10px 10px 0; float:left; width:inherit;}
#footer_container .one-fourth ul.flickr li a img{ margin:0;}
#footer_container .one-fourth ul li a:hover img{ border:4px solid #262626;}

.copy_right{ width:100%; float:left;}
#footer_wrap .copy_right p{ color:#fff; font-size:11px; }
#footer_wrap .copy_right p a{ color:#777;}

.first{ margin-left:0 !important;}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 767px)  {
#page_wrap, #footer_wrap{ padding:0 30px;}

.topleft{ float:left; width:30%;}
.topright{ float:left; width:70%;}

#container{ width:100%;}

aside{ width:100%;}
aside .second ul li{ float:left; list-style:none; margin-left:0; margin-right:6%; margin-bottom:20px; font-family:"Open Sans", arial, helvetica, sans-serif;}
aside .second ul li.first{ margin-left:0;}
}
@media handheld and (max-width: 479px), screen and (max-device-width: 479px), screen and ( max-width: 479px)  {
.topleft{ display:none;}
.topright{ float:left; width:100%;}
.topright li span{ display:none;}
.one-fourth{ width:100%; float:left; margin-left:0; margin-bottom:30px;}

.sidebar{ float:left; width:100%;}
.content{ width:100%; float:left; margin-left:0;}

.left_sidebar .first_sec{ width:46%; float:left; margin-left:0; margin-bottom:40px;}
.right_sidebar{ margin-left:0;}
.right_sidebar ul.social_media li{ margin-left:3.5%;}

#container article .three_fourth{ width:100%}
#container article ul.admin{ width:100%; float:left; padding:0;}
#container article ul.admin li{ float:left; margin-left:2%;}

ul#post_comment li div{ float:left; width:96%;}
ul#post_comment li.reply div{ float:left; width:95%;}

#commentform .input{ float:left; width:94%; margin:0 0 5px 0;}
#commentform label{ margin-bottom:10px; display:block;}

#container .team{ width:100%; float:left;}
#container .serv{ width:100%; float:left;}

.one-half,
.one-third,
.three-fourth{ width:100%; margin-left:0;}

aside{ width:100%;}
aside .second ul li{ float:left; list-style:none; margin-left:6%; margin-bottom:20px; font-family:"Open Sans", arial, helvetica, sans-serif;}
aside .second ul li.first{ margin-left:0;}

#sidebar-right{ width:100%; float:left;}

#footer_container .one-fourth ul.flickr li{ margin:0 10px 10px 0; float:left; width:inherit;}

}